<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Covid - 19 (Essential Services) </a>
      <a class="navbar-brand" href="/">
    <img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/India-Flag.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/request">Food Request <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food_pending">Food Yet To Received</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form action="/donate_details" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address of the donor</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputName">Name of the donor</label>
                    <input type="text" class="form-control" id="exampleInputName" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputnumber">Phone Number of the donor</label>
                    <input type="number" class="form-control" id="exampleInputnumber" name="number"
                           placeholder="Phone Number">
                </div>
                <label for="exampleInputArea">Area you want to donate</label>
                <input class="form-control" type="text" name="area" value={{ area }} placeholder={{ area }}  readonly>
                <label for="exampleInputArea">Food Type</label>
                <input class="form-control" type="text" name="food_type" value={{ food_type }} placeholder={{ food_type }}  readonly>
                <div class="form-group">
                    <label for="exampleInputfood">Food Quantity you want to doante [limit: up
                        to {{ food_quantity }}]</label>
                    <input type="number" class="form-control" id="exampleInputfood" name = "food_quantity" min="1" max={{ food_quantity }}>

                </div>
                <input type="hidden" name="Id" value={{ id }}>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>
</body>
</html>