<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Essential - services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        #middle-div
        {
            padding: 2%;
        }
        #test
        {
            height: 100vh;
        }
        .center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Covid - 19 (Essential Services) </a>
      <a class="navbar-brand" href="/">
    <img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/India-Flag.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/request">Food Request <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food_pending">Food Yet To Received</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" id="test">

        </div>

        <div class="col-sm-8" id="middle-div">
            {% for i in data %}
                <div class="card w-50 center">
                    <div class="card-body">
                        <h5 class="card-title">Area : {{ i[3] }}</h5>
{#                        <p class="card-text">Phone Number: {{ i[2] }}</p>#}
                        <p class="card-text">Food Type: {{ i[5] }}</p>
                        <p class="card-text">Food Quantity Required: {{ i[4] }}</p>
                        <form action="/donate" method="post">
                            <input type="hidden" name="Id" value={{ i[0] }}>
                            <input type="hidden" name="area" value={{ i[3] }}>
                            <input type="hidden" name="food_type" value={{ i[5] }}>
                            <input type="hidden" name="food_quantity" value={{ i[4] }}>
                            <button type="submit" class="btn btn-primary">Donate</button>
                        </form>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>

        <div class="col-sm-2"></div>
    </div>
</div>
</body>
</html>